<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap&subset=japanese">
	<link rel="stylesheet" href="<%= domain %>/css/style.css">
	<script defer src="<%= domain %>/js/bundle.js"></script>
	<title>株式会社 <%= title %> </title>
</head>

<body>
	<div class="container">

		<header class="header">
			<nav class="navigation">
				<ul class="gnav">
					<%
					const gnav = [
						{
							url: './',
							text:'HOME'
						},
						{
							url: '#news',
							text: 'ニュース'
						},
						{
							url: '#development',
							text: 'ゲーム開発'
						},
						{
							url: '#about',
							text: '企業情報'
						},
						{
							url: '#message',
							text: '代表者メッセージ'
						},
						{
							url: '#blog',
							text: 'ブログ'
						}
					]
					%>
					<% gnav.forEach(element => { %>
					<li class="gnav__item">
						<a href="<%= element.url %>" class="gnav__link"><%= element.text %></a>
					</li>
					<% }); // endforeach %>
				</ul>
			</nav>
		</header>